---
import GuestName from "../components/GuestName";
import { SaveTheDate } from "../components/Countdown";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nida & Imam</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alice&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quintessential&display=swap"
      rel="stylesheet"
    />
  
  </head>
  <body class="font-[Alice] overflow-x-hidden overflow-y-hidden">
    <section
      id="cover"
      class="fixed inset-0 min-h-screen w-full text-center text-white z-10 font-[Alice]"
    >
      <div
        class="absolute inset-0 bg-[url(/bg.jpg)] bg-fixed bg-cover bg-center"
      >
      </div>

      <div
        class="relative w-full h-screen bg-[#00000088] flex flex-col justify-around items-center text-center py-15"
      >
        <div
          class="flex flex-col gap-4 uppercase"
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
        >
          <p class="text-xl tracking-widest">Pernikahan</p>
          <p
            class="text-4xl
            font-bold
            tracking-widest
            font-[Alice]"
          >
            Nida & Imam
          </p>
          <p class="text-xl tracking-widest">14 JUNI 2025</p>
        </div>

        <div class="h-[10%]"></div>
        <div
          class="text-center max-w-md flex flex-col items-center gap-4"
          data-aos="fade-up"
          data-aos-anchor-placement="center-bottom"
        >
          <p>Yth. Bapak/Ibu/Saudara/i</p>
          <GuestName client:only />
          <p>
            Tanpa mengurangi rasa hormat,<br /> kami mengundang anda untuk menghadiri
            acara pernikahan kami.
          </p>
          <div class="mt-5">
            <button
              id="actionButton"
              type="button"
              class="relative flex justify-center items-center w-[56px] h-[56px] rounded-full border-1 p-2 animate__animated animate__bounce animate__slow animate__infinite"
            >
              <svg
                fill="currentColor"
                height="24"
                width="24"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 407.437 407.437"
                xml:space="preserve"
              >
                <g id="bgCarrier" stroke-width="0"></g>
                <g
                  id="tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g>
                <g id="iconCarrier">
                  <g>
                    <polygon
                      points="203.718,322.929 21.179,140.984 0,162.232 203.718,365.287 407.437,162.232 386.258,140.984 "
                    ></polygon>
                    <polygon
                      points="407.437,63.398 386.258,42.15 203.718,224.095 21.179,42.15 0,63.398 203.718,266.453 "
                    ></polygon>
                  </g>
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section
      id="bride-groom"
      class="relative w-full text-center animate-[fade-in_1s_ease] overflow-hidden font-[Alice] hidden"
    >
      <div
        class="absolute inset-0 bg-[url(/bg-3.webp)] bg-fixed bg-cover bg-center -z-0 opacity-20"
      >
      </div>

      <div
        class="relative w-full text-[#915282] flex flex-col justify-around items-center text-center pt-15"
      >
        <div
          class="max-w-2xl inline-flex flex-col justify-around items-center rounded-4xl p-5"
        >
          <div class="mb-15 flex flex-col items-center gap-3">
            <!-- <p class="text-2xl">Pasangan</p>
            <p class="text-4xl">Mempelai</p> -->
            <p class="text-md md:text-xl" data-aos="fade-up">
              Dengan segala puji bagi Allah yang telah menciptakan makhluk-Nya
              berpasang-pasangan,<br /> Ya Allah izinkanlah kami merangkaikan cinta
              yang Engkau berikan dalam ikatan pernikahan.
            </p>
          </div>
          <div class="w-full self-start text-start">
            <div class="flex flex-row justify-evenly items-center gap-5" data-aos="fade-up">
              <div
                class="h-28 w-24 md:h-64 md:w-48 rounded-t-full relative overflow-clip border shrink-0"
              >
                <div
                  class="absolute inset-0 bg-[url(/bride.jpeg)] bg-position-[125px_-45px] md:bg-position-[280px_-120px] bg-size-[150px] md:bg-size-[360px]"
                >
                  <!-- <div
                  class="absolute inset-0 bg-[url(/bride.jpeg)] bg-position-[155px_-70px] md:bg-position-[310px_-120px] bg-size-[210px] md:bg-size-[413px]"
                > -->
                </div>
              </div>
              <div class="text-center">
                <p
                  class="text-md lg:text-2xl font-bold tracking-wider pb-2 mb-2 font-[Alice] border-b-2 border-b-current"
                >
                  Umrotun Nida, S.Pd., M.Hum.
                </p>
                <div class="text-md md:text-2xl">
                  <p>Putri Kedua dari</p>
                  <p>Bapak Sobirin & Ibu Ia Ropiah</p>
                </div>
              </div>
            </div>

            <div
              class="my-10 text-md md:text-xl tracking-widest text-center font-[Quintessential]"
               data-aos="fade-up"
            >
              Dengan
            </div>

            <div class="self-end text-end flex flex-col">
              <div class="flex flex-row justify-evenly items-center gap-5" data-aos="fade-up">
                <div
                  class="h-28 w-24 md:h-64 md:w-48 rounded-t-full relative overflow-clip border shrink-0 order-1"
                >
                  <div
                    class="absolute inset-0 bg-[url(/broom.jpeg)] bg-position-[435px_0px] bg-size-[150px] md:bg-position-[310px_-10px] md:bg-size-[360px]"
                  >
                    <!-- <div
                    class="absolute inset-0 bg-[url(/broom.jpeg)] bg-position-[380px_-10px] bg-size-[210px] md:bg-position-[336px_-10px] md:bg-size-[413px]"
                  > -->
                  </div>
                </div>
                <div class="text-center">
                  <p
                    class="text-md lg:text-2xl font-bold tracking-wider pb-2 mb-2 font-[Alice] border-b-2 border-b-current"
                  >
                    Imam Ade Surya, S.Kom.
                  </p>
                  <div class="text-center">
                    <div class="text-md md:text-2xl">
                      <p>Putra Pertama dari</p>
                      <p>Bapak Suryadi & Ibu Wakingah</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-full h-40 relative" data-aos="fade-up">
          <div
            class="absolute inset-0 bg-[url(/bg-bottom.webp)] bg-repeat-x bg-position-[0_0] bg-size-[448px]"
          >
          </div>
          <!-- <img
            src="/bg-bottom.webp"
            alt="background bottom"
            class="w-full object-fill"
          /> -->
        </div>
      </div>
    </section>

    <section
      id="save-the-date"
      class="relative h-screen w-full text-center text-white"
    >
      <div
        class="absolute inset-0 bg-[url(/bg.jpg)] bg-fixed bg-cover bg-center -z-0"
      >
      </div>

      <div
        class="relative w-full h-screen text-center bg-[#00000088] text-[#915282] flex justify-center items-center"
      >
        <div
          class="w-full md:max-w-2xl inline-flex flex-col justify-around items-center rounded-4xl p-5"
        >
          <SaveTheDate
            link="https://calendar.google.com/calendar/u/0/r/eventedit?text=Pernikahan+Nida+%26+Imam&dates=20250614T020000Z/20250614T100000Z&details=Undangan+Pernikahan+Umrotun+Nida+%26+Imam+Ade+Surya+yang+Insya+Allah+akan+diselenggarakan+pada+Sabtu,+14+Juni+2025&location=https://maps.app.goo.gl/UzzpUTd4ZhAEuGWv6"
            eventName="Wedding"
            date={new Date("2025-06-14T09:00:00").valueOf()}
            client:only
          />
        </div>
      </div>
    </section>

    <section id="events" class="relative w-full text-center text-white">
      <div
        class="absolute inset-0 bg-[url(/bg-2.webp)] bg-fixed bg-cover bg-center"
      >
      </div>

      <div
        class="relative w-full text-center text-[#915282] flex justify-center items-center py-15 px-8 md:px-5"
      >
        <div
          class="relative bg-white border-1 rounded-xl w-full md:max-w-xl inline-flex flex-col justify-around gap-10 items-center p-10"
        >
          <div
            class="flex flex-col animate-[fade-in_1s_ease] w-100"
            data-aos="fade-up"
          >
            <div
              class="relative mx-auto w-full h-30 flex justify-center items-center mb-3"
            >
              <img
                src="/bg-ribbon.webp"
                alt="background top"
                class="absolute inset-0 object-contain w-54 h-30 mx-auto translate-x-[14px]"
              />
              <p
                class="text-2xl uppercase font-semibold absolute bottom-[28px]"
              >
                Akad Nikah
              </p>
            </div>
            <p class="text-xl mb-2">14 Juni 2025</p>
            <p class="text-xl mb-3">09:00 - 10:00 WIB</p>
            <p class="text-md mb-5">
              Blok VI Gegesik Kidul RT 03 RW 15<br /> Kecamatan Gegesik,<br /> Kabupaten
              Cirebon, Jawa Barat
            </p>
            <a
              class="inline-block ring-1 ring-[#915282] px-6 py-2 mx-auto rounded-2xl hover:bg-[#915282] w-fit hover:text-white"
              href="https://maps.app.goo.gl/NeaXD59MmUEcdPmz8"
              target="_blank"
              rel="noopener noreferrer">Lihat Lokasi</a
            >
          </div>

          <div
            class="flex flex-col animate-[fade-in_1s_ease] w-100 mb-10"
            data-aos="fade-up"
          >
            <div
              class="relative mx-auto w-full h-30 flex justify-center items-center mb-3"
            >
              <img
                src="/bg-ribbon.webp"
                alt="background top"
                class="absolute inset-0 object-contain w-54 h-30 mx-auto translate-x-[14px]"
              />
              <p
                class="text-2xl uppercase font-semibold absolute bottom-[28px]"
              >
                Resepsi
              </p>
            </div>
            <p class="text-xl mb-2">14 Juni 2025</p>
            <p class="text-xl mb-3">11:00 - 17:00 WIB</p>
            <p class="text-md mb-5">
              Blok VI Gegesik Kidul RT 03 RW 15<br /> Kecamatan Gegesik,<br /> Kabupaten
              Cirebon, Jawa Barat
            </p>
            <a
              class="inline-block ring-1 ring-[#915282] px-6 py-2 mx-auto rounded-2xl hover:bg-[#915282] w-fit hover:text-white"
              href="https://maps.app.goo.gl/NeaXD59MmUEcdPmz8"
              target="_blank"
              rel="noopener noreferrer">Lihat Lokasi</a
            >
          </div>
          <div class="absolute top-0 left-0">
            <img
              src="/bg-frame.webp"
              alt="background top"
              class="object-contain w-full h-50 mx-auto rotate-180 translate-x-[-24px] translate-y-[-40px]"
            />
          </div>
          <div class="absolute bottom-0 right-0">
            <img
              src="/bg-frame.webp"
              alt="background top"
              class="object-contain w-full h-50 mx-auto translate-x-[28px] translate-y-[50px]"
            />
          </div>
        </div>
      </div>
    </section>

    <section
      id="frontpage"
      class="relative w-full text-center text-white animate-[fade-in_1s_ease] overflow-hidden"
    >
      <div
        class="absolute inset-0 z-0 bg-[url(/bg.jpg)] bg-cover bg-center bg-fixed"
      >
      </div>
      <div class="relative w-full py-[10rem] bg-[#00000088]">
        <div
          class="relative max-w-xl flex flex-col justify-around items-center mx-auto h-full px-5"
          data-aos="fade-up"
        >
          <div>
            <p class="font-light italic">
              “Di antara tanda-tanda (kebesaran)-Nya ialah bahwa Dia menciptakan
              pasangan-pasangan untukmu dari (jenis) dirimu sendiri agar kamu
              merasa tenteram kepadanya. Dia menjadikan di antaramu rasa cinta
              dan kasih sayang. Sesungguhnya pada yang demikian itu benar-benar
              terdapat tanda-tanda (kebesaran Allah) bagi kaum yang berpikir.”
            </p>
            <p class="font-bold">(QS. Ar-Rum: 21)</p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="thank"
      class="relative h-screen w-full text-center text-white overflow-hidden"
    >
      <div
        class="absolute inset-0 bg-[url(/bg.jpg)] bg-fixed bg-cover bg-center"
      >
      </div>

      <div
        class="relative w-full h-screen bg-[#00000088] flex flex-col justify-around items-center text-center px-5"
      >
        <div class="max-w-lg" data-aos="fade-up">
          <p class="text-3xl mb-5 tracking-wide">Terima Kasih</p>
          <p class="text-md leading-relaxed tracking-wide mb-10">
            Merupakan suatu kebahagiaan dan kehormatan bagi kami,<br /> apabila Bapak/Ibu/Saudara/i
            berkenan hadir di hari bahagia kami.
          </p>
          <p class="text-lg font-semibold tracking-widest">Nida & Imam</p>
        </div>
      </div>
    </section>

    <div class="fixed bottom-10 right-5 z-50">
      <button
        id="toggle-sound"
        class="flex items-center p-4 bg-white text-black rounded-full focus:outline-none opacity-0"
      >
      </button>
    </div>

    <script type="module" src="/src/scripts/aos-init.js"></script>
    <script>
      let bgSound: any;
      let isPlaying = false;
      let isInitialized = false;
      const button = document.getElementById("actionButton");
      const toggleButton = document.getElementById("toggle-sound");
      const coverSection = document.getElementById("cover");
      const brideGroomSection = document.getElementById("bride-groom");
      let hasScrolled = false;

      document.addEventListener("DOMContentLoaded", function () {
        if (location.hash) {
          location.hash = "";
          window.scrollTo(0, 0);
          document.body.classList.add("overflow-y-hidden");
        }

        button?.addEventListener("click", () => {
          console.log("Button clicked, hiding frontpage section");
          init();
          location.href = "#bride-groom";
        });

        toggleButton?.addEventListener("click", toggleSound);

        // Scroll listener to trigger init once
        window.addEventListener("scroll", function onScroll() {
          if (!hasScrolled && window.scrollY > 0) {
            hasScrolled = true;
            init();
            window.removeEventListener("scroll", onScroll);
          }
        });
      });

      // Pause audio when user leaves the page (tab/window hidden)
      document.addEventListener("visibilitychange", function () {
        if (!bgSound || !isInitialized) return;

        if (document.hidden) {
          if (isPlaying) {
            bgSound.pause();
            isPlaying = false;
            changeButtonIcon();
          }
        } else {
          bgSound
            .play()
            .then(() => {
              isPlaying = true;
              changeButtonIcon();
            })
            .catch((err: any) => {
              console.error("Failed to resume audio:", err);
            });
        }
      });

      function init() {
        if (document.body.classList.contains("overflow-y-hidden")) {
          document.body.classList.remove("overflow-y-hidden");
        }

        if (coverSection?.classList.contains("fixed")) {
          coverSection.classList.remove("fixed");
          coverSection.classList.add("relative");
        }

        if (brideGroomSection?.classList.contains("hidden")) {
          brideGroomSection.classList.remove("hidden");
          // AOS.refresh();
        }

        if (toggleButton?.classList.contains("opacity-0")) {
          toggleButton.classList.remove("opacity-0");
        }

        if (!isInitialized) {
          bgSound = new Audio("/bg.mp3");
          bgSound.loop = true;
          bgSound.volume = 1.0;

          bgSound.addEventListener("play", () => {
            isPlaying = true;
            isInitialized = true;
            hasScrolled = true;
            changeButtonIcon();
          });

          bgSound.addEventListener("ended", () => {
            console.log("Audio finished.");
          });

          bgSound.addEventListener("error", (err: any) => {
            console.error("Audio failed to load or play:", err);
          });

          bgSound.play().catch((err: any) => {
            console.error("Audio play failed:", err);
          });
        }
      }

      function toggleSound() {
        if (!bgSound || !isInitialized) return;

        if (isPlaying) {
          bgSound.pause();
          isPlaying = false;
        } else {
          bgSound.play().catch((err: any) => {
            console.error("Audio play failed:", err);
          });
          isPlaying = true;
        }

        changeButtonIcon();
      }

      function changeButtonIcon() {
        const button = document.getElementById("toggle-sound");
        if (isPlaying) {
          (button as any).innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M6 4h4v16H6V4zm8 0h4v16h-4V4z" />
                </svg>`;
        } else {
          (button as any).innerHTML = `
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 24 24" fill="currentColor">
                  <path d="M8 5v14l11-7L8 5z" />
                </svg>`;
        }
      }
    </script>
  </body>

  <style>
    .bounce {
      animation: bounce 2s ease infinite;
    }

    .fade-in {
      animation: fade-in 500ms ease;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

    @keyframes fade-in {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  </style>
</html>
