---
import bgImage from "../assets/bg.jpg";
import bgSound from "../assets/bg.mp3";
import GuestName from "../components/GuestName";
import "../styles/tailwind.css";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nida & Imam</title>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.4/howler.min.js"
    ></script>
  </head>
  <body>
    <section
      id="cover"
      class="relative h-screen w-full text-center text-white animate-[fade-in_1s_ease]"
    >
      <div
        class="absolute inset-0 bg-[url(/bg.jpg)] bg-fixed bg-cover bg-center -z-0"
      >
      </div>

      <div
        class="relative w-full h-screen bg-[#00000088] flex flex-col justify-around items-center text-center"
      >
        <div class="flex flex-col gap-4 uppercase animate-[fade-in_1s_ease]">
          <p class="text-lg tracking-widest">Pernikahan</p>
          <p class="text-4xl font-bold tracking-widest">Nida & Imam</p>
          <p class="text-lg tracking-widest">14 JUNI 2025</p>
        </div>

        <div class="h-[10%]"></div>
        <div class="text-center max-w-md flex flex-col items-center gap-4">
          <p>Yth. Bapak/Ibu/Saudara/i</p>
          <!-- <p class="text-lg font-bold">{guestName || 'Tamu Undangan'}</p> -->
          <GuestName client:only />
          <p>
            Tanpa mengurangi rasa hormat, kami mengundang anda untuk menghadiri
            acara pernikahan kami.
          </p>
          <div class="mt-5">
            <a
              class="relative flex justify-center items-center w-[40px] h-[40px] rounded-full border-1 p-2 animate-bounce"
              href="#frontpage"
            >
              <svg
                fill="currentColor"
                height="18"
                width="18"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="0 0 407.437 407.437"
                xml:space="preserve"
              >
                <g id="bgCarrier" stroke-width="0"></g>
                <g
                  id="tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"></g>
                <g id="iconCarrier">
                  <g>
                    <polygon
                      points="203.718,322.929 21.179,140.984 0,162.232 203.718,365.287 407.437,162.232 386.258,140.984 "
                    ></polygon>
                    <polygon
                      points="407.437,63.398 386.258,42.15 203.718,224.095 21.179,42.15 0,63.398 203.718,266.453 "
                    ></polygon>
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section
      id="frontpage"
      class="relative w-full text-center text-white bg-linear-to-b from-gray-800 to-gray-900 animate-[fade-in_1s_ease]"
    >
      <!-- https://images.unsplash.com/photo-1613469663063-0874723c644e?q=80&w=1870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D -->
      <div
        class="absolute inset-0 z-0 bg-[url(bg.jpg)] bg-cover bg-center bg-fixed"
      >
      </div>
      <div
        class="relative w-full py-[20rem] bg-[#00000088]"
      >
        <div
          class="relative max-w-xl flex flex-col justify-around items-center mx-auto h-full"
        >
          <!-- <div class="w-full text-white z-1">
            <div class="mb-[5rem]">
              <p class="">Pernikahan</p>
              <p class="">Nida & Imam</p>
            </div>

            <div class="w-full flex flex-row justify-between items-center">
              <div>
                <p class="">14</p>
                <p class="">JUNI</p>
                <p class="">2025</p>
              </div>
              <div>
                <p class="">GEGESIK</p>
                <p class="">CIREBON</p>
              </div>
            </div>
          </div>

          <div class="empty"></div> -->
          <div>
            <p class="font-light italic">
              “Dan di antara tanda-tanda kekuasaan-Nya ialah Dia menciptakan
              untukmu isteri-isteri dari jenismu sendiri, supaya kamu cenderung
              dan merasa tenteram kepadanya, dan dijadikan-Nya diantaramu rasa
              kasih dan sayang. Sesungguhnya pada yang demikian itu benar-benar
              terdapat tanda-tanda bagi kaum yang berfikir.”
            </p>
            <p class="font-bold">(QS. Ar-Rum: 21)</p>
          </div>
        </div>
      </div>
    </section>

    <section
      id="events"
      class="relative h-screen w-full text-center text-white"
    >
      <div
        class="absolute inset-0 bg-[url(/bg-2.webp)] bg-linear-to-t from-[#000000] from-90% to-gray-300 to-10% bg-fixed bg-cover bg-center -z-0"
      >
      </div>

      <div class="relative w-full h-screen text-center text-[#915282] flex justify-center items-center py-15">
        <div
          class="border-1 rounded-xl max-w-xl inline-flex flex-col justify-around gap-15 items-center p-10"
        >
          <div class="flex flex-col animate-[fade-in_1s_ease]">
            <p class="text-2xl uppercase font-semibold mb-5">Akad Nikah</p>
            <p class="text-md mb-2">14 Juni 2025</p>
            <p class="text-md mb-2">09:00 - 10:00 WIB</p>
            <p class="text-md mb-5">
              Blok VI Gegesik Kidul RT 03 RW 15 Kecamatan Gegesik, Kabupaten
              Cirebon, Jawa Barat
            </p>
            <a
              class="inline-block ring-1 ring-[#915282] px-6 py-2 mx-auto rounded-2xl hover:bg-[#915282] w-fit hover:text-white"
              href="https://maps.app.goo.gl/NeaXD59MmUEcdPmz8">Lihat Lokasi</a
            >
          </div>

          <div class="flex flex-col animate-[fade-in_1s_ease]">
            <p class="text-2xl uppercase font-semibold mb-5">Resepsi</p>
            <p class="text-md mb-2">14 Juni 2025</p>
            <p class="text-md mb-2">11:00 - 17:00 WIB</p>
            <p class="text-md mb-5">
              Blok VI Gegesik Kidul RT 03 RW 15 Kecamatan Gegesik, Kabupaten
              Cirebon, Jawa Barat
            </p>
            <a
              class="inline-block ring-1 ring-[#915282] px-6 py-2 mx-auto rounded-2xl hover:bg-[#915282] w-fit hover:text-white"
              href="https://maps.app.goo.gl/NeaXD59MmUEcdPmz8"
              target="_blank">Lihat Lokasi</a
            >
          </div>
        </div>
      </div>
    </section>

    <section
      id="bride-groom"
      class="relative w-full text-center  animate-[fade-in_1s_ease]"
    >
      <div
        class="absolute inset-0 bg-[url(/bg-2.webp)] bg-fixed bg-cover bg-center -z-0"
      >
      </div>

      <div
        class="relative w-full  text-[#915282] flex flex-col justify-around items-center text-center py-15"
      >
      <div class="w-xl inline-flex flex-col justify-around items-center rounded-4xl p-5">
        <div class="self-start text-start">
          <div class="h-56 w-56 rounded-lg relative overflow-clip mb-5">
            <div class="absolute inset-0 bg-[url(bg-1.jpg)] bg-position-[212rem_52rem]"></div>
          </div>
          <p class="text-3xl font-semibold tracking-wider mb-5">Prof. Hj. Umrotun Nida, S.Pd., M.Hum, Phd</p>
          <div>
            <p class="text-lg font-semibold mb-3">Putri Kedua dari</p>
            <p>Bapak Sobirin &</p>
            <p>Ibu Ia Ropiah</p>
        </div>

        <div class="my-10 text-lg tracking-widest text-center">Dengan</div>

        <div class="self-end text-end flex flex-col">
          <div class="h-56 w-56 rounded-lg relative overflow-clip self-end mb-5">
            <div class="absolute inset-0 bg-[url(bg-1.jpg)] bg-position-[306rem_64rem]"></div>
          </div>
          <p class="text-3xl font-semibold tracking-wider mb-5">Imam Ade Surya, S.Kom</p>
          <div>
            <p class="text-lg font-semibold mb-3">Putra Pertama dari</p>
            <p>Bapak Suryadi &</p>
            <p>Ibu Wakingah</p>
          </div>
        </div>

      </div>
      </div>
    </section>

    <section id="thank" class="relative h-screen w-full text-center text-white">
      <div
        class="absolute inset-0 bg-[url(/bg.jpg)] bg-fixed bg-cover bg-center -z-0"
      >
      </div>

      <div
        class="relative w-full h-screen bg-[#00000088] flex flex-col justify-around items-center text-center"
      >
        <div class="max-w-lg">
          <p class="text-3xl mb-5 tracking-widest">Terima Kasih</p>
          <p class="text-md leading-relaxed mb-10">
            Merupakan suatu kebahagiaan dan kehormatan bagi kami, apabila
            Bapak/Ibu/Saudara/i berkenan hadir di hari bahagia kami.
          </p>
          <p class="text-lg font-semibold tracking-widest">Nida & Imam</p>
        </div>
      </div>
    </section>

    <div class="floating">
      <button id="toggle-sound" type="button" onclick="toggleSound()">
        play
      </button>
      <button id="init-sound" type="button"></button>
    </div>

    <!-- <script type="text/javascript">
      var bgSound;
      var isPlaying = false;
      var isInitialized = false;

      // Howler.autoUnlock = false;

      document.addEventListener("DOMContentLoaded", function () {
        // Play audio once user clicks anywhere (required by autoplay policy)
        const toggleBtn = document.querySelector("#init-sound");
        toggleBtn.addEventListener(
          "click",
          function () {
            if (!isInitialized) {
              bgSound = new Howl({
                src: ["/bg.mp3"],
                autoplay: true,
                loop: true,
                volume: 1.0,
                onplay: function () {
                  isPlaying = true;
                  isInitialized = true;
                },
                onend: function () {
                  console.log("Audio finished.");
                },
                onloaderror: function (_, err) {
                  console.error("Audio failed to load:", err);
                },
                onplayerror: function (_, err) {
                  console.error("Audio play failed:", err);
                },
              });
            }
          },
          { once: true }
        );

        setTimeout(() => {
          toggleBtn.click();
        }, 1000);
      });

      function toggleSound() {
        if (!bgSound || !isInitialized) return;

        if (isPlaying) {
          bgSound.pause();
          isPlaying = false;
        } else {
          bgSound.play();
          isPlaying = true;
        }
      }
    </script> -->
  </body>
</html>

<style>
  /* body {
    background-color: #fff;
    background-image: url("/public/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #111;
    font-size: 1.25rem;
  }

  #cover {
    height: 100vh;
    background-color: #00000088;
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  #cover .cover-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  #cover .cover-name {
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 1;
    animation: fade-in 100ms ease-in;
  }

  #cover .cover-author {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    animation: fade-in 300ms ease;
  }

  #cover .cover-date {
    letter-spacing: 1px;
    font-weight: 400;
    animation: fade-in 400ms ease;
  }

  #cover .cover-cta {
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation:
      bounce 2s ease infinite,
      fade-in 600ms ease;
  }

  #cover .cover-cta:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
    text-transform: uppercase;
    transition: all 500ms;
  } */

  /* #bride-groom {
    height: 100vh;
    background-color: #3a0519;
    color: #fff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  } */

  /* #events {
    height: 100vh;
    background-color: #00000088;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #events > div {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  #events .event {
    background-color: #00000088;
    padding: 2rem;
    border-radius: 10px;
    line-height: 1.5;
  }

  #events .event .event-name {
    font-size: 1.5rem;
    font-weight: 500;
  }

  #thank {
    height: 100vh;
    background-color: #3a0519;
    margin: 0 auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

  #thank > div {
    max-width: 450px;
  }

  #thank > div p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }

  #thank .title {
    font-size: 2rem;
  }

  #thank .subtitle {
    margin-bottom: 3rem;
  }

  #thank .author {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .floating {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
  }

  .floating button {
    padding: 1rem;
    border: 0;
    border-radius: 50%;
  }

  .floating #init-sound {
    width: 0;
    height: 0;
    background: transparent;
    padding: 0;
    border: 0;
  } */

  .bounce {
    animation: bounce 2s ease infinite;
  }

  .fade-in {
    animation: fade-in 500ms ease;
  }

  @keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-30px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
