<div class="flex flex-col items-center gap-6 p-7 md:flex-row md:gap-8 rounded-2xl">
    <div>
        <img src="https://images.unsplash.com/photo-1746555702228-5c4f5436d4b7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" class="size-48 shadow-xl rounded-md">
    </div>
    <div class="flex flex-col items-center md:items-start">
        <span class="text-2xl font-medium">Class Welfare</span>
        <span class="font-medium text-sky-500">The Anti-Pattern</span>
       <span class="flex items-center gap-2 font-medium text-gray-600 dark:text-gray-400">
        <span>No. 4</span>
        <span>.</span>
        <span>2025</span>
       </span>
    </div>
</div>